
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting"><img class="logo-icon" src="./assets/img/logo.png"></a>
    <a class="navbar-brand " href="#"></a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=" logo-icon navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ALQUILERES
          </a>
          <div class="dropdown-menu menu" aria-labelledby="navbarDropdown">
            <app-submenu1></app-submenu1>
          </div>
        </li>
      </ul>
    </div>
  </nav>         
</header>

