
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light menu">
    <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting"><img class="logo-icon" src="./assets/img/logo.png"></a>
    <a class="navbar-brand letrasMenu" href="#"></a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=" logo-icon navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letrasMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ALQUILERES
          </a>
          <div class="dropdown-menu menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-submenu ">
              <button class="btn btn-outline-primary btn-block letrasMenu" type="button">
                <span class="icon is-small">
                  <i class="far fa-user"></i>
                </span>
                &nbsp;&nbsp;&nbsp;Locadores&nbsp;&nbsp;&nbsp;
                <span class="icon is-large">
                  <i class="fas fa-angle-right"></i>
                </span>
              </button>
              <div class="dropdown-menu menu " aria-labelledby="navbarDropdown">
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button" href="#alquiler" data-toggle="modal">
                  <span class="icon is-large">
                    <i class="fab fa-cc-amazon-pay"></i>
                  </span>
                  &nbsp;&nbsp;&nbsp;Pago de Locador
                </button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">
                  <span class="icon is-large">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  &nbsp;&nbsp;&nbsp;Ingresar nuevo Locador
                </button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">
                  <span class="icon is-large">
                    <i class="fas fa-address-card"></i>
                  </span>
                  &nbsp;&nbsp;&nbsp;Listado de Locadores
                </button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">
                  <span class="icon is-large">
                    <i class="fas fa-hourglass-start"></i>
                  </span>
                   &nbsp;&nbsp;&nbsp;Historial
                </button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Reclamos</button>
              </div>
            </div>

            <div class="dropdown-submenu ">
              <button class="btn btn-outline-primary btn-block letrasMenu" type="button"> 
                <span class="icon is-large">
                  <i class="fas fa-home fa-fw"></i>
                </span>
                &nbsp;&nbsp;&nbsp;Inmuebles&nbsp;&nbsp;&nbsp;
                <span class="icon is-large">
                  <i class="fas fa-angle-right"></i>
                </span>
              </button>
              <div class="dropdown-menu menu " aria-labelledby="navbarDropdown" >
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button" href="#alquiler" data-toggle="modal">Nuevo inmueble</button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Listado de inmuebles disponibles</button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Listado de inmuebles alquilados</button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Historial</button>
              </div>
            </div>

            <div class="dropdown-submenu ">
              <button class="btn btn-outline-primary btn-block letrasMenu" type="button">
                <span class="icon is-large">
                  <i class="fas fa-users"></i>
                </span>
                &nbsp;&nbsp;&nbsp;Clientes&nbsp;&nbsp;&nbsp;
                <span class="icon is-large">
                  <i class="fas fa-angle-right"></i>
                </span>
              </button>
              <div class="dropdown-menu menu " aria-labelledby="navbarDropdown">
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button" href="#alquiler" data-toggle="modal">Nuevo cliente</button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Listado de clientes</button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Historial</button>
                <button class="btn btn-outline-primary btn-block letrasMenu" type="button">Cliente potencial</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>         
</header>

